<section class="portfolio pt-more">
    <img class="portfolio__back desk" src="../images/dist/about.webp" alt="">
    <div class="container">
        <div class="portfolio__body">
            <div class="portfolio__body-main">
                <div class="text">
                    <h2>ПОРТФОЛИО</h2>
                </div>
                <div class="portfolio__body-main-block">
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <div class="item">
                        <img src="../images/dist/portfolio-img.webp" alt="">
                        <div class="wrap">
                            <span>2-х комнатная квартира</span>
                            <span>84 м2</span>
                        </div>
                        <a href="">
                            Зайти
                        </a>
                    </div>
                    <button class="show__more">
                        ПОКАЗАТЬ ЕЩЕ
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>