<main class="main">
    <img src="../images/dist/price.webp" alt="">
    <div class="grad"></div>
    <div class="container">
        <div class="main__body">
            <div class="main__body-info">
                <h1>
                    AVIS
                </h1>
                <p>
                    ПРИЯТНО
                    БЫТЬ ДОМА!
                </p>
            </div>
            <div class="main__body-text">
                <p>ремонт квартир под ключ</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
</main>
<section class="soft__text">
    <img class="soft__text-back" src="../images/dist/about.webp" alt="">
    <div class="container">
        <div class="soft__text-body">
            <p>
                Если же у вас уже есть свой дизайнерский проект, либо свое личное видение, как вы хотите сделать ремонт,
                из каких материалов, то стоимость ремонта без учета материалов <span>начинается от 11.000 рублей</span>
                за квадратный
                метр, умноженный на площадь квартиры.
                <br><br>
                <span>Мы ценим ваше время, поэтому готовы взять все хлопоты по ремонту в свои руки.</span>
                Предлагаем вам на выбор услугу ремонт под ключ, где будет <span>учтена цена как работ, так и
                    материала:</span>
            </p>
        </div>
    </div>
</section>
<section class="project">
    <div class="project__body">
        <div class="project__body-item black">
            <div class="top">
                <div class="text">
                    <h3>
                        ПРОЕКТ <br>
                        «ПОД СДАЧУ»
                    </h3>
                    <span class="price">
                        от 16 000 ₽/м2
                    </span>
                </div>
                <p>
                    Отделочные материалы сегмента эконом. Натяжные потолки без скрытых гардин, 5 точек электрики.
                    Двери, трассы под сплит, в данный пакет не входят.
                    Название проекта говорит само за себя. Не смотря на цену, работа выглядит достойно, что
                    позволяет ставить цену за съем жилья выше.
                </p>
            </div>
            <div class="images">
                <img src="../images/dist/project/1.png" alt="">
                <img src="../images/dist/project/2.png" alt="">
                <img src="../images/dist/project/3.png" alt="">
                <img src="../images/dist/project/4.png" alt="">
                <img src="../images/dist/project/5.png" alt="">
            </div>
        </div>
        <div class="project__body-item">
            <div class="top">
                <div class="text">
                    <h3>
                        ПРОЕКТ <br>
                        «ПОД СДАЧУ»
                    </h3>
                    <span class="price">
                        от 16 000 ₽/м2
                    </span>
                </div>
                <p>
                    Отделочные материалы сегмента эконом. Натяжные потолки без скрытых гардин, 5 точек электрики.
                    Двери, трассы под сплит, в данный пакет не входят.
                    Название проекта говорит само за себя. Не смотря на цену, работа выглядит достойно, что
                    позволяет ставить цену за съем жилья выше.
                </p>
            </div>
            <div class="images">
                <img src="../images/dist/project/1.png" alt="">
                <img src="../images/dist/project/2.png" alt="">
                <img src="../images/dist/project/3.png" alt="">
                <img src="../images/dist/project/4.png" alt="">
                <img src="../images/dist/project/5.png" alt="">
            </div>
        </div>
        <div class="project__body-item black">
            <div class="top">
                <div class="text">
                    <h3>
                        ПРОЕКТ <br>
                        «ПОД СДАЧУ»
                    </h3>
                    <span class="price">
                        от 16 000 ₽/м2
                    </span>
                </div>
                <p>
                    Отделочные материалы сегмента эконом. Натяжные потолки без скрытых гардин, 5 точек электрики.
                    Двери, трассы под сплит, в данный пакет не входят.
                    Название проекта говорит само за себя. Не смотря на цену, работа выглядит достойно, что
                    позволяет ставить цену за съем жилья выше.
                </p>
            </div>
            <div class="images">
                <img src="../images/dist/project/1.png" alt="">
                <img src="../images/dist/project/2.png" alt="">
                <img src="../images/dist/project/3.png" alt="">
                <img src="../images/dist/project/4.png" alt="">
                <img src="../images/dist/project/5.png" alt="">
            </div>
        </div>
        <div class="project__body-item">
            <div class="top">
                <div class="text">
                    <h3>
                        ПРОЕКТ <br>
                        «ПОД СДАЧУ»
                    </h3>
                    <span class="price">
                        от 16 000 ₽/м2
                    </span>
                </div>
                <p>
                    Отделочные материалы сегмента эконом. Натяжные потолки без скрытых гардин, 5 точек электрики.
                    Двери, трассы под сплит, в данный пакет не входят.
                    Название проекта говорит само за себя. Не смотря на цену, работа выглядит достойно, что
                    позволяет ставить цену за съем жилья выше.
                </p>
            </div>
            <div class="images">
                <img src="../images/dist/project/1.png" alt="">
                <img src="../images/dist/project/2.png" alt="">
                <img src="../images/dist/project/3.png" alt="">
                <img src="../images/dist/project/4.png" alt="">
                <img src="../images/dist/project/5.png" alt="">
            </div>
        </div>
    </div>
</section>